/* The message box */
.message-box {
    display: none;
    padding: 20px;
    background-color: dodgerblue;
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.close-batton {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.close-batton:hover {
    color: black;
}