body {
    margin: 0;
    padding: 0;
}

/****************************************************/
/******************** Navigation ********************/
/****************************************************/

.nav {
    display: flex;
    align-items: stretch;
    /*  min-height: 3.25rem;*/
    height: 15%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    box-shadow: 0 4px 20px grey;
    box-sizing: border-box;
    z-index: 1;
}

.nav-item {
    align-items: center;
    display: flex;
    background-color: black;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    border-radius: 3px;
    margin: 0;
    list-style-type: none;
    transition: background 1s, color 1s;
    cursor: pointer;
    color: white;
}

.nav-left, .nav-right {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

.nav-menu.nav-right ul {
    display: flex;
    margin: 0;
    padding-left: 0;
}

ul a {
    text-decoration: none;
    color: white;
    transition: background 1s, color 1s;
}

ul li:hover {
    cursor: pointer;
    box-sizing: border-box;
    background: lightslategrey;
    color: black;
}

ul a:hover {
    color: black;
    text-decoration: none;
}

.nav img {
    height: 7em;
    margin: 0;
}

/* if user touch nav-toggle, show nav-menu*/
@media screen and (max-width: 768px) {
    #menu-toggle:checked + .nav-menu {
        display: block;
    }
}

.is-hidden {
    display: none;
}

.nav-toggle {
    font-size: 40px;
    align-items: center;
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
    color: white;
}

@media (min-width: 768px) {
    .nav-toggle {
        display: none;
    }
}

.nav-toggle:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-menu.nav-right {
        display: none;
        left: 0;
        right: 0;
        top: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 20px grey;
    }

    .nav-menu.nav-right .nav-item {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }

    .nav-menu.nav-right ul {
        display: flex;
        flex-flow: column;
    }

    .nav-menu.nav-right ul li {
        background-color: rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        padding: 15px;
        text-align: center;
        list-style-type: none;
        transition: background 1s, color 1s;
        cursor: pointer;
        color: black;
    }

    .nav-menu.nav-right ul a {
        text-decoration: none;
        color: black;
    }

    .nav-menu.nav-right ul li:hover {
        cursor: pointer;
        box-sizing: border-box;
        font-weight: bold;
    }
}

/***********************************************************/
/******************** End of Navigation ********************/
/***********************************************************/

.site-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    flex: 1;
    background-color: cornflowerblue;
    padding-top: 15vh;
}

.main-container-item {
    display: flex;
    flex-direction: column;
    height: 85%;
    background-color: dimgray;
}


/* START INTRODUCTION */

.introduction-container {
    height: 85vh;
    box-sizing: border-box;
    width: 100%;
    background: url("dark.png");
    background-attachment: fixed;
    background-size: cover;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;

}

.inIntroduction {
    padding: 20px;
    background-color: rgba(74, 74, 74, 0.3);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}
.introductionElement {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.introduction-logo-container {
    height: 35%;
}
.introduction-logo-container h1 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
}

.introduction-main-text-container {
    height: 15%;
}

h2.introduction-main-text-container {
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight: inherit;
}

.introduction-regular-text-container {
    height: 20%;
}

p.introduction-regular-text-container, p.introduction-button-container {
    font-size: 1em;
}

.introduction-button-container {
    height: 25%;
}

.introductionLogo {
    border: 5px solid white;
    padding: 5px 5px 5px 5px;

}

p {
    margin: 0;
}

.introductionButton {
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    border: 3px solid #3f3f3f;
    border-radius: 50px;
    background-color: #282828;
    text-decoration: none;
    color: white;
    text-underline: none;
    margin: 0;
}


.introduction-button-container a {
    text-decoration: none;
}



@media all and (min-width: 426px) and (max-width: 768px) {
    .inIntroduction {
        height: 100%;
        min-width: 60%;
    }
}


@media all and (max-width: 425px) {

    .inIntroduction {
        height: 100%;
        max-width: 100%;
    }

    .introductionElement {
        height: 33.3333%;
    }
}



/* END INTRODUCTION */


/* START FUNCTIONS */
.functions-container {
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #0a0a0a;
    flex-wrap: wrap;
    height: 95vh;
    width: 100%;
}

.function {
    width: 16.66666666666667%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    background-color: #070707;

}

.functionIcon {
    height: 40px;
    width: 40px;
    filter: invert(1);
}

.functionText {
    text-align: center;
    font-size: 1.4em;
    color: white;
    background-color: #060606;
    box-sizing: border-box;
    box-shadow: white;
}

.functionText1, .functionText2 {
    border-bottom: 1px solid #919191;
}

.functionText1, .functionText3 {
    border-right: 1px solid #919191;
}


@media all and (min-width: 426px) and (max-width: 768px) {
    .icon1-container, .icon6-container, .icon7-container,.icon10-container, .icon11-container, .icon14-container, .icon15-container,.icon20-container {
        display: none;
    }

    .function {
        width: 25%
    }

    p.function {
        font-size: 1.15em;
    }
}


@media all and (max-width: 425px) {
    .icon1-container, .icon2-container, .icon6-container, .icon7-container, .icon8-container, .icon9-container, .icon10-container, .icon11-container, .icon12-container, .icon15-container, .icon16-container, .icon17-container, .icon18-container, .icon19-container {
        display: none;
    }

    .function {
        width: 33.33333%;
        height: 16.66666666666667%;
    }
    p.function {
        width: 100%;
    }
    .functionText1, .functionText2, .functionText3, .functionText4 {
        border-bottom: 1px solid #919191;
    }

    .functionText1 {
        border-top: 1px solid #919191;
    }

    .functionText1, .functionText3 {
        border-right: none;
    }
}



/* END FUNCTIONS */

.row {
    background-color: black
}
.thumbnail{
    background-color: black;

}
.h3, h3 {

    font-size: 24px;
    color: white;
    text-shadow: 0 0 6px grey;

}


.thumbnail .caption {
    width: 315px;
}

/* enrollment form */
.enrollment-container {
    background-color: #808080;
    padding: 10% 20%;
}

form {
    margin: 20px 0;
}

.checkbox {
    margin: 20px 0;
}

.h2-center {
    text-align: center;
    margin-bottom: 40px;
}
/* end of enrollment form */

/**************************************************/
/******************** About Us ********************/
/**************************************************/

.team-info {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    padding: 35px 0;
}

.person {
    width: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-member-img img {
    /* make it responsive */
    max-width: 100%;
    width: 200px;
    height: 200px;
    /* make it a circle */
    border-radius:50%;
    margin: 0 auto;
}

.team-info .person-name {
    text-align: center;
    font-size: 1.8em;
    line-height: 1.5em;
    margin-top: 14px;
    margin-bottom: 10px;
    color: white;
}

.person-bio {
    text-align: center;
    font-size: 14px;
    line-height: 1.4em;
    color: white;
}

.person-icon a {
    padding: 0 5px;
    list-style-type: none;
    font-weight: bold;
    font-size: 22px;
    color: white;
    transition: color 2s;
}

.person-icon a:hover {
    color: cadetblue;
}

@media screen and (max-width: 768px)
{
    .team-info
    {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

/*********************************************************/
/******************** End of About Us ********************/
/*********************************************************/

/************************************************/
/******************** Footer ********************/
/************************************************/

footer {
    margin-top: auto;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    color: white;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    align-items: stretch;
}

.site-footer {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 15px sans-serif;
}

.site-footer .footer-left {
    width: 45%;
    padding-left: 50px;
    padding-top: 50px;
}

.site-footer .footer-right {
    width: 45%;
}

.site-footer .footer-right i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.site-footer .footer-right .fa-envelope {
    font-size: 16px;
    line-height: 35px;
}

.site-footer .footer-right p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.site-footer .footer-right p span {
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 2;
}

.site-footer .footer-right p a {
    color: #256ae6;
    text-decoration: none;
}

.site-footer .footer-icon {
    margin-top: 25px;
}

.site-footer .footer-icon a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {

    .site-footer .footer-left,
    .site-footer .footer-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
        text-align: left;
        padding-left: 20px;
    }
}
/*******************************************************/
/******************** End of Footer ********************/
/*******************************************************/