body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
}

/****************************************************/
/******************** Navigation ********************/
/****************************************************/
.header {
    margin: auto;
    max-width: 1440px;
}

.nav {
    display: flex;
    align-items: stretch;
    /*height: 15vh;*/
    max-height: 7.3em;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1440px;
    background-color: black;
    box-shadow: 0 4px 20px grey;
    box-sizing: border-box;
    z-index: 1;
    text-transform: uppercase;
    font-weight: bold;
}

.nav__item {
    align-items: center;
    display: flex;
    background-color: black;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    margin: 0;
    list-style-type: none;
    transition: background 1s, color 1s;
    cursor: pointer;
    color: white;
    height: 15vh;
    max-height: 101px;
}

.nav__left, .nav__right {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.nav__left {
    justify-content: flex-start;
    padding-left: 20px;
    box-sizing: border-box;
}

.nav__right {
    justify-content: flex-end;
}

.nav__list {
    display: flex;
    margin: 0;
    padding-left: 0;
}

.nav__item a {
    text-decoration: none;
    color: white;
    transition: background 2s, color 2s;
    height: 15vh;
    box-sizing: border-box;
    padding: 40px 20px;
}

.nav__item:hover {
    cursor: pointer;
    box-sizing: border-box;
    background: white;
    color: black;
}

.nav__item a:hover {
    color: black;
    text-decoration: none;
}

.nav img {
    max-height: 7em;
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 5px;
    padding-top: 3px;
}

/* if user touch nav-toggle, show nav-menu*/
@media screen and (max-width: 767px) {
    #menu-toggle:checked ~ .nav__menu {
        display: block;
    }

    #menu-toggle:checked ~ .nav__toggle span {
        opacity: 1;
        transform: rotate(45deg);
    }

    #menu-toggle:checked ~ .nav__toggle span:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg);
    }

    #menu-toggle:checked ~ .nav__toggle span:nth-last-child(1) {
        opacity: 1;
        transform: rotate(-45deg);
    }

    .nav__menu.nav__right {
        display: none;
        left: 0;
        right: 0;
        top: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 0 4px 20px grey;
    }

    .nav__item {
        font-weight: normal;
        border-bottom: 1px solid black;
        border-top: 1px solid #3c3c3c;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.7);
        box-sizing: border-box;
        padding: 15px;
        text-align: center;
        list-style-type: none;
        transition: background 1s, color 1s;
        cursor: pointer;
        color: black;
        height: 4em;
        text-transform: uppercase;
    }

    .nav__list {
        display: flex;
        flex-flow: column;
    }

    .nav__item a {
        text-decoration: none;
        color: black;
        height: 4em;
        padding: 20px;
    }

    .nav__item:hover {
        cursor: pointer;
        box-sizing: border-box;
        font-weight: bold;
    }

    .nav img {
        max-height: 73px;
        box-sizing: border-box;
        padding-bottom: 3px;
        padding-top: 3px;
    }
}

.is-hidden {
    display: none;
}

.nav__toggle {
    padding-right: 80px;
    box-sizing: border-box;
    color: white;
    width: 50px;
    margin-top: 6px;
    margin-bottom: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav__toggle--item {
    display: inline-block;
    width: 65px;
    height: 4px;
    margin-bottom: 2px;
    background: white;
    border-radius: 3px;
    transform-origin: 4px 0; /*****/
    transition: .5s ease-in-out;
}

@media (min-width: 768px) {
    .nav__toggle {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* rules on tablets only */
    .nav__item a {
        padding: 40px 7px;
    }
}

.nav__toggle:hover {
    cursor: pointer;
}

/***********************************************************/
/******************** End of Navigation ********************/
/***********************************************************/

.site-container {
    display: flex;
    flex-direction: column;
    background-color: #0c0c0c;;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    flex: 1;
    background-color: black;
    padding-top: 101px;
    box-shadow: 0 4px 20px grey;
}

.main-container-item {
    display: flex;
    flex-direction: column;
    height: 85%;
}

@media all and (max-width: 768px) {
    .introduction-container {
        min-height: calc(100vh - 73px);
    }
}

/* START INTRODUCTION */

.introduction-container {
    min-height: calc(100vh - 101px);
    box-sizing: border-box;
    width: 100%;
    background: url("dark.png") fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}

.inIntroduction {
    padding: 20px;
    background-color: rgba(74, 74, 74, 0.3);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

.introductionElement {
    /*    margin: auto;*/
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*    padding: 20px;*/
}

.introduction-logo-container {
    height: 35%;
}

.introduction-logo-container h1 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
}

.introduction-main-text-container {
    height: 15%;
}

h2.introduction-main-text-container {
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight: inherit;
}

.introduction-regular-text-container {
    height: 20%;
}

p.introduction-regular-text-container, p.introduction-button-container {
    font-size: 1em;
}

.introduction-button-container {
    height: 25%;
}

.introductionLogo {
    border: 5px solid white;
    padding: 5px;
}

p {
    margin: 0;
}

.btn {
    transition: background-color 2s;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn p {
    font-weight: bold;
}

.introduction-button-container a {
    text-decoration: none;
}

@media all and (min-width: 426px) and (max-width: 768px) {
    .inIntroduction {
        height: 100%;
        min-width: 60%;
    }
}

@media all and (max-width: 425px) {

    .inIntroduction {
        height: 100%;
        max-width: 100%;
    }

    .introductionElement {
        height: 33.3333%;
    }
}

@media all and (max-width: 768px) {
    .main-container {
        padding-top: 73px;
    }
}

/* END INTRODUCTION */

/* START FUNCTIONS */
.functions-container {
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 110px;
    min-height: calc(100vh - 101px);
    width: 100%;
}

.function {
    width: 16.66666666666667%;
    height: 25%;
    min-height: 21.25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;

}

.functionIcon {
    height: 40px;
    width: 40px;
    filter: invert(1);
}

.functionText {
    text-align: center;
    font-size: 1.4em;
    color: white;
    box-sizing: border-box;
    box-shadow: white;
    transition: background-color 1s;
}

.functionText:hover {
    background-color: white;
    color: black;
}

.functionText1, .functionText2 {
    border-bottom: 1px solid #919191;
}

.functionText1, .functionText3 {
    border-right: 1px solid #919191;
}

@media all and (min-width: 426px) and (max-width: 768px) {
    .icon1-container, .icon6-container, .icon7-container, .icon10-container, .icon11-container, .icon14-container, .icon15-container, .icon20-container {
        display: none;
    }

    .function {
        width: 25%
    }

    p.function {
        font-size: 1.15em;
    }
}

@media all and (max-width: 425px) {
    .icon1-container, .icon2-container, .icon6-container, .icon7-container, .icon8-container, .icon9-container, .icon10-container, .icon11-container, .icon12-container, .icon15-container, .icon16-container, .icon17-container, .icon18-container, .icon19-container {
        display: none;
    }

    .function {
        width: 33.33333%;
        height: 16.66666666666667%;
    }

    p.function {
        width: 100%;
    }

    .functionText1, .functionText2, .functionText3, .functionText4 {
        border-bottom: 1px solid #919191;
    }

    .functionText1 {
        border-top: 1px solid #919191;
    }

    .functionText1, .functionText3 {
        border-right: none;
    }
}

/* END FUNCTIONS */

/**************************************************/
/******************** Product Info ****************/
/**************************************************/

.product-info {
    font-size: 14px;
    background-color: black;
    box-sizing: border-box;
    /*   padding: 107px 20px 20px;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    padding-top: 107px;
}

.product-info__about {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.product-info__about--title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}

.product-info__about--icon {
    border: 2px solid white;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: white;
    transition: background 1s, color 1s;
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
}

.product-info__about i {
    position: relative;
    color: white;
    transition: color 1s;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    font-size: 25px;
    line-height: 55px;
}

.product-info__about--icon:hover {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    color: black;
    line-height: 55px;
}

.product-info__about i:hover {
    color: black;
}

.product-info__text {
    padding-right: 35px;
    padding-left: 35px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.3em;
    letter-spacing: 1px;
}

.product-info__title {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.product-info__about p {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    line-height: 1.4em;
    font-weight: 100;
}

@media (min-width: 768px) {
    .product-info__about {
        height: 200px;
    }
}

/**************************************************/
/******************** End of Product Info *********/
/**************************************************/

/**************************************************/
/**************** Enrollment form *****************/
/**************************************************/

.enrollment-container {
    padding: 110px 20px 20px 20px;
    min-height: 100vh;
    box-sizing: border-box;
    color: white;
    background: url("dark.png") fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enrollment-content-wrapper {
    max-width: 630px;
}

.enrollment-form {
    margin: 5px 0;
    box-sizing: border-box;
}

.h2-center {
    text-align: center;
    margin-bottom: 20px;
}

.enrollment-text {
    margin-bottom: 20px;
    text-align: justify;
}

.checkbox-text {
    font-size: 0.9em;
    text-align: justify;
}

.form-inputs-container {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

textarea#inputMessage.form-control {
    height: 35px;
}

.btn-primary {
    background: dimgrey;
    border-color: dimgrey;
}

.btn-primary:hover {
    background: black;
    border-color: black;
}

.btn-primary:active {
    background: black;
    border-color: black;
}

/*   hiding spin buttons in phone number filed    */
#inputPhoneNumber::-webkit-outer-spin-button,
#inputPhoneNumber::-webkit-inner-spin-button {
    -webkit-appearance: none;

    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*   hiding spin buttons in phone number filed in Mozilla   */
#inputPhoneNumber {
    -moz-appearance: textfield;
}

/**************************************************/
/************ End of enrollment form **************/
/**************************************************/

/**************************************************/
/******************** About Us ********************/
/**************************************************/

.team-info {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 110px 20px 50px;
    min-height: 100vh;
    height: 85%;
}

.person {
    width: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*flex: 1;*/
    box-sizing: border-box;
    min-width: 20%;
}

.person__img img {
    /* make it responsive */
    max-width: 100%;
    width: 200px;
    height: 200px;
    /* make it a circle */
    border-radius: 50%;
    margin: 0 auto;
    box-sizing: border-box;
}

.person__name {
    text-align: center;
    font-size: 1.8em;
    line-height: 1.5em;
    margin-top: 14px;
    margin-bottom: 10px;
    color: white;
    box-sizing: border-box;
}

.person__bio {
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
    color: white;
    padding: 10px;
    letter-spacing: 2px;
    box-sizing: border-box;
}

.person__icon {
    display: inline-block;
    padding: 25px 5px 0;
    box-sizing: border-box;
    list-style-type: none;
    font-weight: bold;
    font-size: 22px;
    color: white;
    transition: color 2s;
}

.person__icon:hover {
    color: cadetblue;
}

@media screen and (max-width: 767px) {
    .person {
        min-width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* rules on tablets only */
    .person {
        min-width: 40%;
    }
}

/*********************************************************/
/******************** End of About Us ********************/
/*********************************************************/

/************************************************/
/******************** Footer ********************/
/************************************************/

.site-footer {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: auto;*/
    bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    color: white;
    width: 100%;
    max-width: 1440px;
    align-items: stretch;
    font: bold 15px sans-serif;
    box-shadow: 0 4px 20px grey;
    margin: auto;
}

.footer-container {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
}

.footer__left {
    padding-left: 50px;
    padding-top: 50px;
    flex: 1;
    min-width: 45%;
}

.footer__right {
    flex: 1;
    min-width: 45%;
}

.footer__right i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer__right .fa-envelope {
    font-size: 16px;
    line-height: 35px;
}

.footer__right--item {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer__right--item span {
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 2;
}

.footer__right--item a {
    color: white;
    text-decoration: none;
}

.footer__icons {
    margin-top: 25px;
}

.footer__icons--link {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
    transition: filter 2s;
}

.footer__icons--link:hover {
    filter: invert(1);
}

@media (max-width: 768px) {

    .footer__left, .footer__right {
        min-width: 100%;
        padding-bottom: 30px;
    }
}

@media (width: 768px) {

    .footer__left, .footer__right {
        min-width: 50%;
        padding-bottom: 30px;
    }
}

/*******************************************************/
/******************** End of Footer ********************/
/*******************************************************/